@model accessoriesShop.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Edit</h2>
<p/>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{   
        <div >
            <label >Id</label>
        </div>
        <div >
            <input  id="Id" name="Id" type="text" value="@Model.Id" readOnly="true"/>
            
        </div>
        <div >
            <label >ProductType</label>
        </div>
        <div >
            <input  id="ProductType" name="ProductType" type="text" value="@Model.ProductType"  readOnly="true"/>
            
        </div>
        
        <div >
            <label >Path</label>
        </div>
        <div class="editor-field" >
             <span>
                 <input type="file" name="path" value="@Model.Path" />
                  @Html.ValidationMessageFor(model => model.Path)           
             </span>
         </div>
        <div >
            <label >Price</label>
        </div>
        <div>
            @Html.EditorFor(model => model.Price)
             @Html.ValidationMessageFor(model => model.Price)           
        </div>

        <p>
            <input type="submit" value="submit" />
        </p>
}

